extends layout

mixin vid-img(id, vendor)
  div(data-vid-id="{{ videos.#{id} }}" data-vid-vendor=vendor)
    img

mixin link(id, classname)
  a(href="{{ links.#{id}.href }}" class=classname) {{ links.#{id}.title }}

mixin img(id, component)
  img(src="//cdn.everything.io/vegankit/images/{{ images.#{id} }}.jpg" data-component=component)

block content
  include ./_includes/_page-nav.jade

  .wrapper(data-page-type="single")
    section.page-content
      block page-content

    aside.sidebar-content
      block sidebar-content
